<section class="login">
    <div class="row">
        <div class="col-sm-6 bg-fancy">
            <div class="left-cnt">
                <figure>
                    <img class="log-img" src="../../../assets/images/forgotPassword.png" alt="">
                </figure>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="login-details">
                <p class="Sign-in global-font">Forgot Password</p>
                <div>
                    <span class="global-font">Please enter registered Email ID</span>
                </div>
                <form class="example-form" name="updatePasswordForm" #upf="ngForm" [formGroup]="forgotForm"
                    (ngSubmit)="forgotpassword()">
                    <div class="mt-2 mb-2">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Email ID</mat-label>
                            <span matPrefix> <img class="input-logo" src="assets/images/icon-email.png" alt=""> </span>
                            <input matInput type="text" id="email" name="email" placeholder="Enter registered email id"
                                formControlName="email" [(ngModel)]="forgotpassWord.email"
                                [ngClass]="{ 'is-invalid': forgot.email.errors && (forgot.email.touched || forgot.email.dirty)}">
                            <mat-error *ngIf="forgot.email.errors && (forgot.email.touched || forgot.email.dirty)">
                                <span class="requiressty-1" *ngIf="forgot?.email?.errors?.required">Email is
                                    required</span>
                                <span class="requiressty-2" *ngIf="forgot?.email?.errors?.email">Email must be a valid
                                    email address</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="clearfix"></div>
                    <div class="verify-btn">
                        <button mat-raised-button type="submit">Verify</button>
                    </div>
                    <a class="fp-text global-font" routerLink="/client-login">Back to Sign-in</a>
                </form>
            </div>
        </div>
    </div>
</section>