.login {
    background-color: #ffffff;
    height: 100%;
}

.login-details {
    text-align: center;
}

.login-details figure {
    padding-bottom: 10px;
}

.login-details figure img {
    width: 20%;
}

.row {
    margin-right: 0px;
}

.left-cnt {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
img.log-img{
    width: 100%;
    max-width: 500px;
}

.left-cnt figure {
    padding: 2px 2px;
}

.left-cnt figure img {
    padding: 10px 4px;
    border-radius: 4px;
}

.verify-btn {
    padding: 15px 0px;
}

.login-details a {
    text-decoration: none;
    cursor: pointer;
}

.verify-btn button {
  width: 328px;
  height: 48px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 108, 217, 0.18);
  background-color: #006cd9;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
  text-align: center;
  color: #f7f8f9;
}

.fa-envelope {
    font-size: 20px !important;
    position: relative;
    bottom: 0px;
    left: 35px;
    top: 2px;
    color: #969494 !important;
}

.fa-lock {
    font-size: 20px !important;
    position: relative;
    bottom: 0px;
    left: 35px;
    top: 2px;
    color: #969494 !important;
}

.chabge_pswd label {
    width: 20%;
    float: left;
    text-transform: capitalize;
}

.chabge_pswd b {
    width: 6%;
    float: left;
}

.chabge_pswd input {
    width: 74%;
    border-radius: 8px;
    border: 1px solid #ACACAC;
    padding: 6px 10px;
}

.close {
    font-size: 26px !important;
    color: #61605f !important;
    opacity: 1 !important;
}

.send {
    text-align: center;
    padding-top: 16px;
}

.send button {
    padding: 6px 34px;
    text-transform: uppercase;
    background: #01A0E1;
    color: #ffffff;
    border: 1px solid #01A0E1;
    box-sizing: border-box;
    border-radius: 4px;
}

.requiressty {
    text-align: left;
    width: 70%;
    margin: auto;
    color: #a94442;
}

.requiressty-1 {
    text-align: left;
    width: 42%;
    margin: auto;
    color: #a94442;
}

.requiressty-2 {
    text-align: right;
    width: 86%;
    color: #a94442;
}

/* NEW UI STYLES */
.Sign-in {
    font-size: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.23px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 30px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
  
.example-full-width {
    width: 330px;
    height:60px
}
img.input-logo{
    margin-top: -15px;
    margin-right: 10px;
    width:24px;
    height:24px;
}
.example-margin{
    margin-left: 17%;
}
.bg-fancy{
    background : #f0f8ff;
}
.fp-text{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #006cd9;
  }

  @media all and (min-width: 768px){
    .login, .row, .col-sm-6{
        height: 100%;
    }
    img.log-img, .login-details{
        margin-top: 20vh;
    }
}