<section class="device-mapping">
    <div class="container-fluid">
        <div class="child-mapping">
            <h4 class="heading">vendor device metadata mapping with cartridge</h4>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Cartridge</label>
                        <select name="" id="">
                            <option value="">Select cartridge</option>
                            <option value="">Cartridge 1</option>
                            <option value="">Cartridge 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Vendor</label>
                        <select name="" id="">
                            <option value="">Select vendor</option>
                            <option value="">vendor 1</option>
                            <option value="">vendor 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Device type</label>
                        <select name="" id="">
                            <option value="">Select device type</option>
                            <option value="">device 1</option>
                            <option value="">device 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="parameters">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Connectivity </a> </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Client ID</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                                <option value="">Client-Id</option>
                                                <option value="">Pwd</option>
                                                <option value="">User-ID</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Password</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                                <option value="">Pwd</option>
                                                <option value="">User-ID</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>User ID</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                                <option value="">User-ID</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="next">
                                    <button class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Resources</a> </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Client ID</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                            <option value="">Client-Id</option>
                                            <option value="">Pwd</option>
                                            <option value="">User-ID</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Password</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                            <option value="">Pwd</option>
                                            <option value="">User-ID</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>User ID</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class='fas fa-equals'></i>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select name="" id="">
                                            <option value="">User-ID</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map-save">
                        <button type="submit">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>