<router-outlet (activate)="onActivate($event)"></router-outlet>
<section class="userCreation">
    <div class="container-fluid">
        <mat-card class="card global-font">
            <div class="bg-standard">
                <div class="card-title global-font">Profile Details</div>
            </div>
            <mat-card-content class="card-content">
                <form class="Mtop">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="profile-photo">
                                <figure>
                                    <img src="../../../assets/images/user.jpg" alt="">
                                </figure>
                                <div class="image-upload">
                                    <label for="file-input">
                                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                    </label>
                                    <input id="file-input" type="file" accept=".jpeg,.jpg,.png" #fileUpload />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-create-form">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" class="main-field-width">
                                    <mat-label>Name</mat-label>
                                    <input matInput name="name" id="name" placeholder="Enter first name"
                                        [(ngModel)]="userdetailsById.name" (keypress)="alphabets_dot_space_only($event)"
                                        [disabled]="!isEdit">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" class="main-field-width">
                                    <mat-label>Email *</mat-label>
                                    <input matInput type="text" name="user_id" id="user_id" placeholder="Enter email"
                                        [(ngModel)]="userdetailsById.user_id" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" class="main-field-width">
                                    <mat-label>Mobile *</mat-label>
                                    <input matInput type="text" name="mobile" id="mobile"
                                        placeholder="Enter mobile number" [(ngModel)]="userdetailsById.mobile"
                                        [disabled]="!isEdit">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row address-row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" class="main-field-width">
                                    <mat-label>Address *</mat-label>
                                    <textarea matInput name="address" id="address" cols="10" rows="3"
                                        [(ngModel)]="userdetailsById.address" [disabled]="!isEdit"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <div class=" container-fluid bottom-strip">
                <div class="row pull-right action-button">
                    <button type="button" *ngIf="!isEdit" (click)="openDialog()" mat-button class="change-pass-btn">
                        <span class="change-pass-text">Change Password</span> </button>
                    <button type="button" mat-button *ngIf="isEdit" (click)="cancelEdit()"> <span
                            class="cancel-btn-text">Cancel</span> </button>
                    <button type="button" *ngIf="isEdit" class="edit-pro-btn" [disabled]=disableSubmit
                        (click)='updateData()'> <span class="update-btn-text">Update</span> </button>
                    <button type="button" *ngIf="!isEdit" (click)="editProfile()" mat-raised-button class="edit-pro-btn"
                        mat-button> <span class="update-btn-text">Edit Profile</span> </button>
                </div>
            </div>
        </mat-card>
    </div>
</section>
<!-- Modal -->
<div id="changePassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content nodeMdlCnt">
            <div class="modal-header Nmodel">
                <button type="button" class="close" #cpfClsBtn data-dismiss="modal">&times;</button>
                <h4 class="modal-title title text-nrml">Change password</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="changepassword" #changePassForm="ngForm"
                    (ngSubmit)="changePassForm.form.valid && changePassword()">
                    <div class="form-group">
                        <label for="">Old password <span class="requiredMark">*</span></label>
                        <input type="text" id="oldPassword" name="oldPassword" placeholder="Enter old password"
                            formControlName="oldPassword"
                            [ngClass]="{'is-invalid': f.oldPassword.errors && (f.oldPassword.touched || f.oldPassword.dirty )}">
                        <div *ngIf="f.oldPassword.errors && (f.oldPassword.touched || f.oldPassword.dirty )"
                            class="text-danger">
                            <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">New password <span class="requiredMark">*</span></label>
                        <input type="text" id="newPassword" name="newPassword" placeholder="Enter new password"
                            formControlName="newPassword"
                            [ngClass]="{'is-invalid': f.newPassword.errors && (f.newPassword.touched || f.newPassword.dirty )}">
                        <div *ngIf="f.newPassword.errors && (f.newPassword.touched || f.newPassword.dirty )"
                            class="text-danger">
                            <div *ngIf="f.newPassword.errors.required">New password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm password <span class="requiredMark">*</span></label>
                        <input type="text" id="confirmPassword" name="confirmPassword"
                            placeholder="Enter confirm password" formControlName="confirmPassword"
                            [ngClass]="{'is-invalid': f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty )}">
                        <div *ngIf="f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty )"
                            class="text-danger">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div class="changepassword-submit">
                        <button type="" [disabled]="disableSubmit">Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>