mat-form-field.main-field-width{
    width:100%;
}
.submit-btn{
    width: 150px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 108, 217, 0.18);
    background-color: #006cd9;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}
.submit-btn-text{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
    text-align: center;
    color: #f7f8f9;
}
.cancel
{
    width: 150px;
    height: 48px;
    border-radius: 4px;
}