<div class="modal-body">
    <form [formGroup]="changepassword" #changePassForm="ngForm" (ngSubmit)="changePassForm.form.valid && changePassword()">
        <mat-form-field appearance="outline" class="main-field-width">
            <mat-label>Old Password</mat-label>
            <input matInput type="text" id="oldPassword" name="oldPassword" placeholder="Enter old password" formControlName="oldPassword" [ngClass]="{'is-invalid': f.oldPassword.errors && (f.oldPassword.touched || f.oldPassword.dirty )}">
            <mat-error *ngIf="f.oldPassword.errors && (f.oldPassword.touched || f.oldPassword.dirty )">
                <span *ngIf="f.oldPassword.errors.required">Old Password is required</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="main-field-width">
            <mat-label>New Password</mat-label>
            <input matInput type="text" id="newPassword" name="newPassword" placeholder="Enter new password" formControlName="newPassword" [ngClass]="{'is-invalid': f.newPassword.errors && (f.newPassword.touched || f.newPassword.dirty )}">
            <mat-error *ngIf="f.newPassword.errors && (f.newPassword.touched || f.newPassword.dirty )">
                <span *ngIf="f.newPassword.errors.required">New Password is required</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="main-field-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="text" id="confirmPassword" name="confirmPassword" placeholder="Enter confirm password" formControlName="confirmPassword" [ngClass]="{'is-invalid': f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty )}">
            <mat-error *ngIf="f.confirmPassword.errors && (f.confirmPassword.touched || f.confirmPassword.dirty )">
                <span *ngIf="f.confirmPassword.errors.required">Confirm Password is required</span>
                <span *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</span>
            </mat-error>
        </mat-form-field>
        <div class="changepassword-submit text-right">
            <button mat-button class="cancel" (click)="close()">Cancel</button>
            <button class="submit-btn" mat-raised-button type="" [disabled]="f.invalid"> <span class="submit-btn-text">Submit</span> </button>
        </div>
    </form>
</div>