<section class="footer">
    <div class="container-fluid">
        <div class="child-footer">
            <div class="row">
                <div class="col-sm-4">
                    <div class="copyrights">
                        <p>Copyrights reserved©YITSOL</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="socalLinks">
                        <a href="https://www.facebook.com/yitsol/" target="_blank"> <i class="fab fa-facebook-square" aria-hidden="true" tooltip="Facebook"></i></a>
                        <a href="https://twitter.com/yitsol_tech?lang=en" target="_blank"><i class="fab fa-twitter-square" aria-hidden="true" tooltip="Twitter"></i></a>
                        <a href="https://in.linkedin.com/company/yitsol" target="_blank"> <i class="fab fa-linkedin-square" aria-hidden="true" tooltip="Linkedin"></i></a>
                        <a href="https://www.instagram.com/yitsol_tech/" target="_blank"><i class="fab fa-instagram" aria-hidden="true" tooltip="Instagram"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="developedBy">
                        <p>developed by
                            <a href="https://www.yitsol.com/" target="_blank"> <img src="../../../assets/images/yitsolLogo.png" alt=""></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>